<%- include('template/cabecera.ejs', {tituloweb: 'Detalle'}); %>

    <!-- NAV -->
    <%- include('template/navbar.ejs') %>

    <h1><%= titulo %></h1>

    <% if (error) { %>
        <h3><%= mensaje %></h3>
        <a href="/mascotas">
            <div class="d-grid gap-2">
                <button class="btn btn-dark" type="button"><h5>Regresar a la lista de mascotas</h5></button>
            </div>
        </a>
    <% } %>

    <% if (!error) { %>
        <form id="formEditar" data-id="<%=mascota.id%>" class="my-2">
            <input class="form-control my-2" type="text" name="nombre" id="nombreInput" value="<%=mascota.nombre%>">
            <input class="form-control my-2" type="text" name="descripcion" id="descripcionInput" value="<%= mascota.descripcion %>">
            <div class="d-grid gap-2">
                <button 
                    class="btn btn-secondary"
                    type="submit"
                    >Actualizar información
                </button>
            </div>
        </form>
        <hr>
        <div class="d-grid gap-2">
            <button 
                class="btn btn-danger"
                type="button"
                id="btnEliminar"
                data-id="<%=mascota.id%>"
                >Eliminar
            </button>
        </div>
    <% } %>

</div>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/funciones.js"></script>
</body>
</html>
